@import './styles/components';
@import './styles/fonts';
@import './styles/reset';
@import './styles/vars';

:root {
    /*
     * Litarvan's pro tip:
     * How to instantly make your text look beautiful
     */
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
    font-family: $font-circular;
    
    user-select: none;
}

#app {
    height: 100vh;
    
    flex-direction: column;
    
    background-image: url(src/assets/images/background.png);
    background-size: cover;
    
    color: rgba(255, 255, 255, .9);
    text-shadow: 0 2px 6px #000000;
}

img {
    -webkit-user-drag: none;
}